# Python-specific files
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Project-specific files
data/
*.xlsx

# Ignore everything in the .idea folder
.idea/*

# Except the inspectionProfiles directory
!.idea/inspectionProfiles

# Database file
*.db
