# Python specific
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Project specific
data/
*.xlsx

# Ignoring everything in the .idea folder
.idea/*

# Except the inspectionProfiles directory
!.idea/inspectionProfiles
